.ng-cloak
  %span(ng-hide="service.$resolved") loading
  .service_show(ng-show="service.$resolved")
    %ol.breadcrumb
      %li Услуги
      %li
        %a(ng-href="{{stroiUtils.path_for('ServiceCtrl', {service_id: service.service_category._id.$oid})}}")
          {{service.service_category.title}}

    %h1
      {{service.title}}

      .control-links(ng-show="stroiUtils.canEdit(service.user_id.$oid)")
        %a{'ng-href' => "{{stroiUtils.editServicePath(service_id)}}"}
          %i.fa.fa-pencil

    .row
      .col-md-8
        %img.img-rounded(ng-src="{{service.cover.middle.url}}" ng-show="service.cover.middle.url")

        %h3 Описание

        .body(ng-bind-html="service.body")

      .col-md-4
        .price_range_wrapper(ng-show="service.price")
          %p Цена:
          %p.price_range
            {{service.price}}
            %ruble-icon

        %a(ng-href="{{stroiUtils.path_for('StoreServicesCtrl', {store_slug: service.user.store_profile.slug})}}")
          {{service.user.store_profile.name}}

        %p {{service.user.store_profile.phone}}
        %p {{service.user.store_profile.site}}
        %p {{service.user.store_profile.email}}

