.ng-cloak
  %span(ng-hide="service.$resolved") loading
  .panel.panel-default(ng-show="service.$resolved")
    .panel-heading
      %h3.panel-title
        {{service.title}}

    .panel-body
      %img.img-rounded.catalog_service_image_large(ng-src="{{service.cover.large.url}}" ng-show="service.cover.large.url")

      %p
        %span.badge
          {{service.service_category.title}}

      %p {{service.body}}

      %a.badge(ng-href="{{stroiUtils.path_for('StoreServicesCtrl', {store_slug: service.user.store_profile.slug})}}")
        {{service.user.store_profile.name}}

    .panel-footer
      %a.btn.btn-primary(back-button)
        Назад
