.form-group
  %label
    Цена
  .range_inputs
    %input.form-control(type="text" placeholder="от" ng-model="filter.minPrice")
    %span
      &#822;
    %input.form-control(type="text" placeholder="до" ng-model="filter.maxPrice")
    %ruble-icon

  .slider_wrapper
    %div(range-slider
      data-values="priceRange"
      data-min-value="filter.minPrice"
      data-max-value="filter.maxPrice")
