.form-group
  %label(for="filter_min_price")
    Цена
  %input.form-control#filter_min_price(type="text" placeholder="minimum" ng-model="filter.minPrice")
  %input.form-control#filter_min_price(type="text" placeholder="maximum" ng-model="filter.maxPrice")