%table.table.products_list
  %tbody
    %tr(ng-repeat="service in FilterCatalog.filteredServices() | orderBy:SortingCatalog.sort.column:SortingCatalog.sort.descending | startFrom:currentServicePage*SortingCatalog.pageSize | limitTo:SortingCatalog.pageSize")
      %td.product_img
        %img(ng-src="{{service.cover.thumb.url}}")
      %td
        %a(ng-href="{{stroiUtils.path_for('ServiceCtrl', {service_id: service._id.$oid})}}")
          {{service.title}}
        .control-links(ng-show="stroiUtils.canEdit(service.user_id.$oid)")
          %a{'ng-href' => "{{stroiUtils.editServicePath(service._id.$oid)}}"}
            %i.fa.fa-pencil
        %p {{service.intro}}
      %td.product_prices
        %p.price(ng-show="service.price")
          {{service.price}}
          %ruble-icon
        %a(ng-href="{{stroiUtils.path_for('StoreServicesCtrl', {store_slug: service.user.store_profile.slug})}}")
          {{service.user.store_profile.name}}
        %a.btn.btn-blue.mini-btn(ng-href="{{stroiUtils.path_for('ServiceCtrl', {service_id: service._id.$oid})}}")
          Подробнее

%my-paginator(data-current-page="currentServicePage" data-number-of-pages="numberOfServicePages")
