.ng-cloak
  .row
    .col-md-3
      .panel.panel-info
        .panel-body
          %form(role="form")
            = render 'templates/catalog/text_filter'
            = render 'templates/catalog/price_filter'

            .form-group(ng-show="categories.length > 0")
              %label
                Категории
              %ul.list-unstyled
                %li(ng-repeat="cat in categories")
                  .checkbox
                    %label
                      %input(type="checkbox"
                        ng-click="FilterCatalog.toggleSubcat(cat.id, cat.children_ids)")
                      {{cat.title}}
                      %span.text-muted {{cats_counter[cat.id]}}

    .col-md-9
      %h3 {{currentManufacturer.title}}

      = render 'templates/catalog/sorting_btns'

      = render 'templates/catalog/products_catalog'
