.ng-cloak
  %span(ng-hide="services.$resolved") loading
  .row.catalog_view(ng-show="services.$resolved")
    .col-md-3
      .panel.panel-info
        .panel-body
          %form(role="form")
            = render 'templates/catalog/text_filter'
            = render 'templates/catalog/price_filter'

            .form-group
              %label
                Категории
              %ul.list-unstyled
                %li(ng-repeat="subcat in categories")
                  .checkbox
                    %label
                      %input(type="checkbox"
                        ng-click="FilterCatalog.toggleSubcat(subcat._id.$oid)")
                      {{subcat.title}}
                      %span.text-muted {{cats_counter[subcat._id.$oid]}}

    .col-md-9
      %h3 Услуги
      = render 'templates/catalog/sorting_btns2'
      = render 'templates/catalog/services_catalog'
