/ .ng-cloak
/   %h1 Каталог

/   .servicesList
/     .row
/       .col-md-12
/         .panel.panel-info
/           .panel-heading
/             Фильтр
/           .panel-body
/             %form.form-horizontal(role="form")
/               .form-group
/                 %label.col-sm-2.control-label(for="filter_text")
/                   Текст
/                 .col-sm-10
/                   %input.form-control#filter_text(type="search" placeholder="Поиск" ng-model="filter.query")
/               / .form-group
/               /   %label.col-sm-2.control-label(for="filter_min_price")
/               /     price range
/               /   .col-sm-10
/               /     %input.form-control#filter_min_price(type="text" placeholder="minimum" ng-model="filter.minPrice")
/               /     %input.form-control#filter_min_price(type="text" placeholder="maximum" ng-model="filter.maxPrice")

/     .row
/       .col-md-4(ng-repeat="service in currentCategory.services | filter:filter.query")
/         .thumbnail
/           / %img(ng-src="{{service.cover.thumb.url}}")
/           .caption
/             %h3 {{service.title}}
/             %p
/               %a.btn.btn-primary(ng-href="{{stroiUtils.path_for('ServiceCtrl', {service_id: service._id.$oid})}}")
/                 Подробнее

.ng-cloak
  .row
    .col-md-3
      .panel.panel-info
        .panel-body
          %form(role="form")
            .form-group
              %label(for="filter_text")
                Текст
              %input.form-control#filter_text(type="search" placeholder="Поиск" ng-model="filter.query")

            .form-group
              %label(for="filter_min_price")
                Цена
              %input.form-control#filter_min_price(type="text" placeholder="minimum" ng-model="filter.minPrice")
              %input.form-control#filter_min_price(type="text" placeholder="maximum" ng-model="filter.maxPrice")

            .form-group(ng-show="currentCategory.children.length > 0")
              %label
                Подкатегории
              %ul.list-unstyled
                %li(ng-repeat="subcat in currentCategory.children")
                  .checkbox
                    %label
                      %input(type="checkbox"
                        ng-click="toggleSubcat(subcat.id, subcat.children_ids)")
                      {{subcat.title}}
                      %span.text-muted {{subcats_counter[subcat.id]}}

            .form-group(ng-show="manufacturers.length > 0")
              %label
                Бренд
              %ul.list-unstyled
                %li(ng-repeat="manufacturer in manufacturers")
                  .checkbox
                    %label
                      %input(type="checkbox"
                        ng-click="toggleBrand(manufacturer.title)")
                      {{manufacturer.title}}
                      %span.text-muted {{manufacturers_counter[manufacturer.title]}}

    .col-md-9
      %h5(ng-show="currentCategory.parent_title") {{currentCategory.parent_title}}
      %h3 {{currentCategory.title}}

      .products_sorting
        %span.pull-left
          Сортировать по:
        %ul.nav.nav-pills
          %li(ng-repeat="(attr, title) in sorting_by" ng-class="selectedCls(attr)")
            %a(ng-click="changeSorting(attr)")
              %i.fa.fa-angle-up
              %i.fa.fa-angle-down
              {{title}}

      %table.table.products_list
        %tbody
          %tr(ng-repeat="product in filteredProducts() | orderBy:sort.column:sort.descending | startFrom:currentPage*pageSize | limitTo:pageSize")
            %td.product_img
              %img(ng-src="{{product.cover.thumb.url}}")
            %td
              %a(ng-href="{{stroiUtils.path_for('ProductCtrl', {product_id: product._id.$oid})}}")
                {{product.title}}
              %p {{product.intro}}
            %td.product_prices
              %p(ng-show="product.min_price")
                {{product.min_price}}
                %ruble-icon
                \...
                {{product.max_price}}
                %ruble-icon
              %p(ng-show='product.offers_count > 0')
                {{product.offers_count}} предложений
              %a.btn.btn-blue(ng-href="{{stroiUtils.path_for('ProductCtrl', {product_id: product._id.$oid})}}")
                Подробнее

      %my-paginator(data-current-page="currentPage" data-number-of-pages="numberOfPages")
