.header_background(back-img="{{currentStore.header.url}}")
%img.logo.img-rounded(ng-src="{{currentStore.logo.url}}")
.profile_menu
  %h1 {{currentStore.name}}
  %ul.nav.nav-pills(nav-menu)
    %li(ng-class="{'active': isActive('StoreMainCtrl')}")
      %a(ng-href="{{stroiUtils.path_for('StoreMainCtrl', {store_slug: currentStore.slug})}}")
        Товары
    %li(ng-class="{'active': isActive('StoreServicesCtrl')}")
      %a(ng-href="{{stroiUtils.path_for('StoreServicesCtrl', {store_slug: currentStore.slug})}}")
        Услуги
    %li(ng-class="{'active': isActive('StoreAboutCtrl')}")
      %a(ng-href="{{stroiUtils.path_for('StoreAboutCtrl', {store_slug: currentStore.slug})}}")
        О нас
    / %li
    /   %a(ng-href="")
    /     %i.fa.fa-search
