.ng-cloak
  .row.store_profile_header
    = render 'templates/stores/store_header'

  .row.store_profile_body
    .col-md-3
      %dl.store_info
        %dt О нас
        %dd {{currentStore.info}}

        %dt.inner_header Контакты
        %dd {{currentStore.contacts}}

        %dt.inner_header Реквизиты
        %dd {{currentStore.requisites}}
        %dd {{currentStore.phone}}
        %dd
          %a(ng-href="http://{{currentStore.site}}") {{currentStore.site}}
        %dd
          %a(ng-href="mailto:{{currentStore.email}}") {{currentStore.email}}

    .col-md-9
      .store_about(ng-bind-html="currentStore.about")

      / %a.btn.btn-primary(back-button)
      /   Назад
