.ng-cloak
  .row.store_profile_header
    = render 'templates/stores/store_header'

  .row.store_profile_body
    .col-md-4(ng-repeat="product in currentStore.products | filter:filter.query | priceRange:filter")
      .thumbnail
        %img(ng-src="{{product.cover.thumb.url}}")
        .caption
          %h3 {{product.title}}
          %p {{product.intro}}
          %span.label.label-success(ng-show="product.price") цена: {{product.price}} руб.
          %p
            %a.btn.btn-primary(href="#/products/{{product._id.$oid}}")
              Подробнее

  .row
    .col-md-12
      %a.btn.btn-primary(back-button)
        Назад
