.ng-cloak
  .row.store_profile_header
    = render 'templates/stores/store_header'


  .row.store_profile_body
    .col-md-3
      %dl.store_info
        %dt О нас
        %dd {{currentStore.info}}

        %dt.inner_header Контакты
        %dd {{currentStore.contacts}}

        %dt.inner_header Реквизиты
        %dd {{currentStore.requisites}}
        %dd {{currentStore.phone}}
        %dd
          %a(ng-href="http://{{currentStore.site}}") {{currentStore.site}}
        %dd
          %a(ng-href="mailto:{{currentStore.email}}") {{currentStore.email}}

    .col-md-9
      .row
        .col-md-4(ng-repeat="service in currentStore.services")
          .thumbnail
            / %img(ng-src="{{service.cover.thumb.url}}")
            .caption
              %h3 {{service.title}}
              %p
                %a.btn.btn-primary(ng-href="{{stroiUtils.path_for('ServiceCtrl', {service_id: service._id.$oid})}}")
                  Подробнее

      %a.btn.btn-primary(back-button)
        Назад
