.ng-cloak
  %h1 {{currentStore.name}}
  %p {{currentStore.title}}
  %p ОГРН {{currentStore.ogrn}}
  %p Телефон {{currentStore.phone}}
  %p Адрес {{currentStore.address}}

  %h1 Каталог

  .productsList
    .row
      .col-md-12
        .panel.panel-info
          .panel-heading
            Фильтр
          .panel-body
            %form.form-horizontal(role="form")
              .form-group
                %label.col-sm-2.control-label(for="filter_text")
                  Текст
                .col-sm-10
                  %input.form-control#filter_text(type="search" placeholder="Поиск" ng-model="filter.query")
              .form-group
                %label.col-sm-2.control-label(for="filter_min_price")
                  price range
                .col-sm-10
                  %input.form-control#filter_min_price(type="text" placeholder="minimum" ng-model="filter.minPrice")
                  %input.form-control#filter_min_price(type="text" placeholder="maximum" ng-model="filter.maxPrice")

    .row
      .col-md-4(ng-repeat="product in productsList | filter:filter.query | priceRange:filter")
        .thumbnail
          %img(ng-src="{{product.cover.thumb.url}}")
          .caption
            %h3 {{product.title}}
            %p {{product.intro}}
            %span.label.label-success(ng-show="product.price") цена: {{product.price}} руб.
            %p
              %a.btn.btn-primary(href="#/products/{{product._id.$oid}}")
                Подробнее

  %a.btn.btn-primary(back-button)
    Назад
