.ng-cloak
  %span(ng-hide="post.$resolved") loading
  .panel.panel-default(ng-show="post.$resolved")
    .panel-heading
      %h3.panel-title
        {{post.title}}

    .panel-body
      %img.img-rounded.catalog_post_image_large(ng-src="{{post.cover.large.url}}" ng-show="post.cover.large.url")

      / %a.badge(ng-href="{{stroiUtils.path_for('CategoryCtrl', {category_slug: post.category.slug})}}")
      /   {{post.category.title}}

      %p {{post.body}}

      / %ul
      /   %li(ng-repeat="attribute in post.category.post_attributes")
      /     %b {{attribute.title}}
      /     %span {{post[attribute.name]}}

      / %p Цены
      / %ul
      /   %li(ng-repeat="offer in post.offers")
      /     {{offer.price}} руб.
      /     %a.badge(ng-href="{{stroiUtils.path_for('StoreCtrl', {store_slug: offer.user.store_profile.slug})}}")
      /       {{offer.user.store_profile.name}}

      / angular.forEach(post.category_id, function(value, key){
      /   this.push(key + ': ' + value);
      / }, log);

    .panel-footer
      %a.btn.btn-primary(back-button)
        Назад
