.ng-cloak
  %span(ng-hide="post.$resolved") loading
  .row
    .col-md-8
      .panel.panel-default(ng-show="post.$resolved")
        .panel-heading
          %h3.panel-title
            {{post.title}}

        .panel-body
          %img.img-rounded.catalog_article_image_large(ng-src="{{post.cover.large.url}}" ng-show="post.cover.large.url")

          .body(ng-bind-html="post.body")

          %ul
            %li(ng-repeat="image in post.images")
              %img.img-rounded(ng-src="{{image.file.middle.url}}" alt="{{image.title}}")

        .panel-footer
          %a.btn.btn-primary(back-button)
            Назад
    .col-md-4
      .panel.panel-default(ng-show="post.documents.length > 0")
        .panel-heading
          = t('attachments.title')
        .list-group
          .list-group-item.attachment.attachments-list-item.attachment-document(ng-repeat="doc in post.documents")
            .attachment-icon(ng-class="'attachment-icon-' + doc.common_type")

            .attachment-info
              .attachment-title
                %a(ng-href="{{doc.file.url}}")
                  {{doc.title}}
