.ng-cloak
  %span(ng-hide="post.$resolved") loading
  .row.post_show(ng-show="post.$resolved")
    .col-md-12
      %h1 {{post.title}}

    .col-md-8
      %img.img-rounded(ng-src="{{post.cover.large.url}}" ng-show="post.cover.large.url")

      .post_body(ng-bind-html="post.body")

      %ul
        %li(ng-repeat="image in post.images")
          %img.img-rounded(ng-src="{{image.file.middle.url}}" alt="{{image.title}}")

    .col-md-4
      .panel.panel-default(ng-show="post.documents.length > 0")
        .panel-heading
          = t('attachments.title')
        .list-group
          .list-group-item.attachment.attachments-list-item.attachment-document(ng-repeat="doc in post.documents")
            .attachment-icon(ng-class="'attachment-icon-' + doc.common_type")

            .attachment-info
              .attachment-title
                %a(ng-href="{{doc.file.url}}")
                  {{doc.title}}
