.row.article-item.articles-list-item
  .col-xs-3.article-preview
    - if article.cover.present?
      = link_to article_path(article) do
        = image_tag(article.cover.thumb)

  .col-xs-9.article-content
    %h4.article-title
      = link_to article.menu_title, article_path(article)

    .article-intro
      = raw article.intro
