.ng-cloak
  .row
    .col-md-offset-3.col-md-9
      .row
        .col-xs-12
          .thumbnail
            %img(ng-src="{{currentPost.cover.middle.url}}" alt="{{currentPost.title}}")
            .caption
              %h3 {{currentPost.title}}
              %a.btn.btn-default(href="#" role="button") Подробнее
      .row
        .col-xs-3(ng-repeat='post in posts')
          .thumbnail(ng-class="{active: currentPost==post}" ng-click="setActive(post)")
            %img(ng-src="{{post.cover.thumb.url}}" alt="{{post.title}}")
            .caption
              %p {{post.title}}
  .row
    .col-md-12
      %h4
        Популярные товары →

      %owl-carousel(products="popular")
