%h1 Новая цена

- if @product.cover.present?
  = image_tag(@product.cover.thumb, class: 'img-thumbnail')
%h2
  = link_to @product.title, admin_product_path(@offer.product)
%p
  %b Категория:
  = @product.category.title

= render 'form'
