.ta-editor
  min-height: 300px
  height: auto !important
  overflow: auto !important
  font-family: inherit
  font-size: 100%
  margin: 20px 0

.category_tree
  i
    cursor: pointer
  i:hover
    color: $blue-color
  ul
    padding-left: 5px
