.owl-carousel.owl-theme
  .item(ng-repeat="product in products")
    .thumbnail.product_thumb
      %img.img-rounded(ng-src="{{product.cover.thumb.url}}" alt="{{product.title}}")
      .caption
        %a(ng-href="{{link_to(product)}}")
          {{product.title}}
        %p(ng-bind-html="draw_price(product)")
