.ng-cloak
  %span(ng-hide="product.$resolved") loading
  .product_show(ng-show="product.$resolved")
    %product-breadcrumbs(data-product="product" ng-if="product.$resolved")

    %h1
      {{product.title}}

      - if current_user.admin?
        .control-links
          %a{'ng-href' => "{{editProductPath('#{Rails.application.routes.url_helpers.edit_admin_product_path('product_id')}')}}"}
            %i.fa.fa-pencil

    .row
      .col-md-8
        %img.img-rounded(ng-src="{{product.cover.middle.url}}" ng-show="product.cover.middle.url")

        %h3 Описание
        .body(ng-bind-html="product.body")

        %ul.list-unstyled
          %li(ng-repeat="attribute in product.category.product_attributes")
            %p {{attribute.title}}: {{product[attribute.name]}}

        %table.table.table-striped
          %tbody
            %tr(ng-repeat="offer in product.offers")
              %td
                %a(ng-href="{{stroiUtils.path_for('StoreCtrl', {store_slug: offer.user.store_profile.slug})}}")
                  {{offer.user.store_profile.name}}
              %td
                {{offer.price}}
                %ruble-icon
      .col-md-4
        .price_range_wrapper(ng-show="product.min_price")
          %p Цена:
          %p.price_range
            {{product.min_price}}
            %ruble-icon
            \...
            {{product.max_price}}
            %ruble-icon
