.ng-cloak
  %span(ng-hide="product.$resolved") loading
  .panel.panel-default(ng-show="product.$resolved")
    .panel-heading
      %h3.panel-title
        {{product.title}}

        %a.badge(ng-href="{{stroiUtils.path_for('ManufacturerCtrl', {manufacturer_slug: product.manufacturer.slug})}}")
          {{product.manufacturer.title}}

      - if current_user.admin?
        .control-links
          %a{'ng-href' => "{{editProductPath('#{Rails.application.routes.url_helpers.edit_product_path('product_id')}')}}"}
            %span.glyphicon.glyphicon-pencil

    .panel-body
      %img.img-rounded.catalog_product_image_large(ng-src="{{product.cover.large.url}}" ng-show="product.cover.large.url")

      %a.badge(ng-href="{{stroiUtils.path_for('CategoryCtrl', {category_slug: product.category.slug})}}")
        {{product.category.title}}

      %p {{product.body}}

      %ul
        %li(ng-repeat="attribute in product.category.product_attributes")
          %b {{attribute.title}}
          %span {{product[attribute.name]}}

      %p Цены
      %ul
        %li(ng-repeat="offer in product.offers")
          {{offer.price}}
          %ruble-icon
          %a.badge(ng-href="{{stroiUtils.path_for('StoreCtrl', {store_slug: offer.user.store_profile.slug})}}")
            {{offer.user.store_profile.name}}

      / angular.forEach(product.category_id, function(value, key){
      /   this.push(key + ': ' + value);
      / }, log);

    .panel-footer
      %a.btn.btn-primary(back-button)
        Назад
