%h1 Категории

%ol#categories_root.sortable_tree.tree_root
  = render_sortable_tree @categories.roots

= content_for :sidebar do
  .sidebar_panel
    = link_to 'Новая категория', new_admin_category_path, class: 'btn btn-info'
