%li.dropdown-submenu
  %a(tabindex="-1" href="#") More options
  %ul.dropdown-menu
    %li
      %a(href="#") Second level 1
    %li
      %a(href="#") Second level
    %li
      %a(href="#") Second level
%li.dropdown-submenu
  %a(tabindex="-1" href="#") More options
  %ul.dropdown-menu
    %li
      %a(href="#") Second level 2
    %li
      %a(href="#") Second level
    %li
      %a(href="#") Second level
%li.dropdown-submenu
  %a(tabindex="-1" href="#") More options
  %ul.dropdown-menu
    %li
      %a(href="#") Second level 3
    %li
      %a(href="#") Second level
    %li
      %a(href="#") Second level
%li
  %a(href="#") Action
%li
  %a(href="#") Another action
%li
  %a(href="#") Something else here