.ng-cloak
  .row.catalog_view
    .col-md-3
      .panel.panel-info
        .panel-body
          %form(role="form")
            = render 'templates/catalog/text_filter'
            = render 'templates/catalog/price_filter'

            .form-group(ng-show="currentCategory.children.length > 0")
              %label
                Подкатегории
              %ul.list-unstyled
                %li(ng-repeat="subcat in currentCategory.children")
                  .checkbox
                    %label
                      %input(type="checkbox"
                        ng-click="FilterCatalog.toggleSubcat(subcat.id, subcat.children_ids)")
                      {{subcat.title}}
                      %span.text-muted {{subcats_counter[subcat.id]}}

            .form-group(ng-show="manufacturers.length > 0")
              %label
                Бренд
              %ul.list-unstyled
                %li(ng-repeat="manufacturer in manufacturers")
                  .checkbox
                    %label
                      %input(type="checkbox"
                        ng-click="FilterCatalog.toggleBrand(manufacturer.title)")
                      {{manufacturer.title}}
                      %span.text-muted {{manufacturers_counter[manufacturer.title]}}

    .col-md-9
      %h5(ng-show="currentCategory.parent_title") {{currentCategory.parent_title}}
      %h3 {{currentCategory.title}}

      = render 'templates/catalog/sorting_btns'

      = render 'templates/catalog/products_catalog'
