.ng-cloak
  .row
    .col-md-3
      .panel.panel-info
        .panel-body
          %form(role="form")
            = render 'templates/catalog/text_filter'
            = render 'templates/catalog/price_filter'

            .form-group(ng-show="currentCategory.children.length > 0")
              %label
                Подкатегории
              %ul.list-unstyled
                %li(ng-repeat="subcat in currentCategory.children")
                  .checkbox
                    %label
                      %input(type="checkbox"
                        ng-click="FilterCatalog.toggleSubcat(subcat.id, subcat.children_ids)")
                      {{subcat.title}}
                      %span.text-muted {{subcats_counter[subcat.id]}}

            .form-group(ng-show="manufacturers.length > 0")
              %label
                Бренд
              %ul.list-unstyled
                %li(ng-repeat="manufacturer in manufacturers")
                  .checkbox
                    %label
                      %input(type="checkbox"
                        ng-click="FilterCatalog.toggleBrand(manufacturer.title)")
                      {{manufacturer.title}}
                      %span.text-muted {{manufacturers_counter[manufacturer.title]}}

    .col-md-9
      %h5(ng-show="currentCategory.parent_title") {{currentCategory.parent_title}}
      %h3 {{currentCategory.title}}

      = render 'templates/catalog/sorting_btns'

      %table.table.products_list
        %tbody
          %tr(ng-repeat="product in FilterCatalog.filteredProducts() | orderBy:SortingCatalog.sort.column:SortingCatalog.sort.descending | startFrom:currentPage*SortingCatalog.pageSize | limitTo:SortingCatalog.pageSize")
            %td.product_img
              %img(ng-src="{{product.cover.thumb.url}}")
            %td
              %a(ng-href="{{stroiUtils.path_for('ProductCtrl', {product_id: product._id.$oid})}}")
                {{product.title}}
              %p {{product.intro}}
            %td.product_prices
              %p(ng-show="product.min_price")
                {{product.min_price}}
                %ruble-icon
                \...
                {{product.max_price}}
                %ruble-icon
              %p(ng-show='product.offers_count > 0')
                {{product.offers_count}} предложений
              %a.btn.btn-blue(ng-href="{{stroiUtils.path_for('ProductCtrl', {product_id: product._id.$oid})}}")
                Подробнее

      %my-paginator(data-current-page="currentPage" data-number-of-pages="numberOfPages")
