.ng-cloak
  .row
    .col-md-3
      .panel.panel-info
        .panel-body
          %form(role="form")
            .form-group
              %ul.list-unstyled
                %li(ng-repeat="subcat in currentCategory.children")
                  .checkbox
                    %label
                      %input(type="checkbox"
                        ng-click="toggleSubcat(subcat.id)")
                      {{subcat.title}}
                      %span.text-muted {{subcats_counter[subcat.id]}}
            .form-group
              %label(for="filter_text")
                Текст
              %input.form-control#filter_text(type="search" placeholder="Поиск" ng-model="filter.query")
            .form-group
              %label(for="filter_min_price")
                price range
              %input.form-control#filter_min_price(type="text" placeholder="minimum" ng-model="filter.minPrice")
              %input.form-control#filter_min_price(type="text" placeholder="maximum" ng-model="filter.maxPrice")
            .form-group
              %ul.list-unstyled
                %li(ng-repeat="manufacturer in manufacturers")
                  .checkbox
                    %label
                      %input(type="checkbox"
                        ng-click="toggleBrand(manufacturer.title)")
                      {{manufacturer.title}}
                      %span.text-muted {{manufacturers_counter[manufacturer.title]}}

    .col-md-9
      %h5(ng-show="currentCategory.parent_title") {{currentCategory.parent_title}}
      %h3 {{currentCategory.title}}

      .products_sorting
        %span.pull-left
          Сортировать по:
        %ul.nav.nav-pills
          %li(ng-repeat="(attr, title) in sorting_by" ng-class="selectedCls(attr)")
            %a(ng-click="changeSorting(attr)")
              %i.fa.fa-angle-up
              %i.fa.fa-angle-down
              {{title}}

      %table.table
        %tbody
          %tr(ng-repeat="product in filteredProducts() | orderBy:sort.column:sort.descending | startFrom:currentPage*pageSize | limitTo:pageSize")
            %td
              %img(ng-src="{{product.cover.thumb.url}}")
            %td
              %a(ng-href="{{stroiUtils.path_for('ProductCtrl', {product_id: product._id.$oid})}}")
                {{product.title}}
              %p {{product.intro}}
              %span.badge {{product.manufacturer_title}}
            %td
              %span(ng-show="product.min_price")
                от {{product.min_price}}
                %ruble-icon

      %my-paginator(data-current-page="currentPage" data-number-of-pages="numberOfPages")
