@import "bootstrap"
@import "bootstrap-theme"
@import "owl.carousel"
@import "lib"
@import "font-awesome"
@import "bootstrap-custom"
@import "catalog"
@import "posts"
@import "stores"
@import "admin/*"

html, body
  height: 100%

a
  // border-bottom: 1px solid rgba($blue-color, .4)
  // color: $blue-color
  text-decoration: none
  cursor: pointer

  &:hover
    text-decoration: none
    // border-bottom-color: rgba(#d22e34, .3)
    // color: #d22e34

  &:focus
    text-decoration: none
    outline: none

  td &,
  th &,
  .nav &,
  &.badge
    border-bottom: none

  th &
    white-space: nowrap

img
  vertical-align: middle
  max-width: 100%

\:focus
  outline: none
  text-decoration: none

//
// Layout.
//

.page-wrapper
  position: relative
  min-height: 100%

.page-container
  padding-bottom: 40px

  &:after
    display: table
    clear: both
    height: 100px
    content: " "
    @media screen and (max-width: 768px)
      height: 300px

.page-footer
  width: 100%
  background: #FFFF33
  margin-bottom: 0
  border: 0
  position: absolute
  bottom: 0
  left: 0

  .nav > li > a
    color: $black-color
  .nav > li > a:hover, .nav > li > a:focus
    background-color: transparent
    color: $blue-color


// .page-container-full
//   position: relative
//   margin: 0
//   padding: 0
//   width: 100%
//   height: 100%


//
// Uploaders.
// ================================
.image-uploader
  @extend %filepicker-decorator

  margin-bottom: 1em
  background: #eee center center no-repeat
  text-align: center

  img
    max-width: 100%
    z-index: -1

.image-uploader
  min-height: 100px
  background-image: image-url("content/placeholder-image.png")

.cover-uploader
  min-height: 300px
  background-image: image-url("content/placeholder-cover.png")

.document-uploader
  @extend %filepicker-decorator

  min-width: 100px
  min-height: 100px
  margin-bottom: 1em
  background: #eee image-url("content/placeholder-document.png") center center no-repeat

//
// Attachments.
//=================================

.attachment
  overflow: hidden

.attachment-info
  float: left
  width: 200px
  margin-left: 10px
  padding: 5px 0 0

.attachment-meta
  line-height: 16px
  font-size: 12px
  color: #999

.attachment-icon
  display: block
  float: left
  width: 40px
  height: 48px
  background: image-url("content/attachment-icons.png") no-repeat

.attachment-icon-archive
  background-position: -38px 0

.attachment-icon-document
  background-position: -78px 0

.attachment-icon-image
  background-position: -118px 0

.attachment-icon-video
  background-position: -158px 0

.attachments-form
  .add-attachment
    margin-top: 20px

  .attachment
    padding: 10px 0 20px
    border-top: 1px solid #eee

    &:first-child
      border-top: none

  .document-uploader,
  .image-uploader
    margin-top: 35px

  .document-uploader
    width: 140px


//
//  main menu dropdown with categories
//=======================================
@media screen and (min-width: 768px)
  ul.nav li.dropdown-on-hover:hover > ul.dropdown-menu,
  ul.dropdown-menu.always-opened
    display: block

  .main_categories
    min-height: 450px
    padding: 10px 0
    top: 41px
    border-radius: 8px !important
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.176)
    li a:focus, li:hover > a
      background-color: transparent
      background-image: none
      color: $blue-color !important
    .subcat_dropdown
      min-height: 450px
      padding: 10px 0
      margin: 0
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.176)
      top: -1px
      left: 97%
      border-radius: 0 8px 8px 0
      width: 200%
      background-position: right bottom
      background-repeat: no-repeat
      ul
        list-style: none outside none
        padding: 0
        li a
          clear: both
          color: $black-color
          display: block
          font-weight: normal
          line-height: 1.42857
          padding: 3px 20px
          white-space: nowrap


  //dropdown submenu for navigation
  // .dropdown-submenu
  //   position:relative

  // .dropdown-submenu > .dropdown-menu
  //   top: -1px
  //   left: 97%
  //   border-radius: 0 8px 8px 0
  //   // margin-top: -6px
  //   // margin-left: -1px

  .dropdown-submenu:hover > .dropdown-menu
    display: block


  // .dropdown-submenu>a:after
  //   display: block
  //   content: " "
  //   float: right
  //   width: 0
  //   height: 0
  //   border-color: transparent
  //   border-style: solid
  //   border-width: 5px 0 5px 5px
  //   border-left-color: #cccccc
  //   margin-top: 5px
  //   margin-right: -10px

  // .dropdown-submenu:hover>a:after
  //   border-left-color: #ffffff

  // .dropdown-submenu.pull-left
  //   float: none

  // .dropdown-submenu.pull-left>.dropdown-menu
  //   left: -100%
  //   margin-left: 10px
  //   -webkit-border-radius: 6px 0 6px 6px
  //   -moz-border-radius: 6px 0 6px 6px
  //   border-radius: 6px 0 6px 6px

//
//  Product Carousel
// =======================
.owl-theme .owl-controls .owl-buttons div
  position: absolute
  color: $blue-color
  display: inline-block
  zoom: 1
  *display: inline /*IE7 life-saver */
  padding-top: 8px
  width: 32px
  height: 48px
  border-radius: 4px
  background: #fff
  border: $blue-color 1px solid
  filter: Alpha(Opacity=50) /*IE7 fix*/
  opacity: 0.5
  top: 30%
  &.disabled
    display: none
  i
    font-size: 30px
    font-weight: bold

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover
  filter: Alpha(Opacity=100) /*IE7 fix*/
  opacity: 1
  text-decoration: none

.owl-theme .owl-controls .owl-buttons .owl-prev
  left: 0
  i
    padding-left: 8px

.owl-theme .owl-controls .owl-buttons .owl-next
  right: 20px
  i
    padding-left: 10px

.owl-theme
  .owl-item
    padding-right: 20px

.product_thumb
  border: 0
  padding: 0
  box-shadow: none
  margin-bottom: 0
  img
    width: 100%
  .caption
    padding-left: 0
    padding-right: 0
    p
      margin-bottom: 0


//
//  misc
// ======================
// .rouble
//   display: inline-block
//   position: relative

// .rouble:before
//   display: block
//   content: "–"
//   position: absolute
//   top: 0.07em

// .page-messages .alert
//   margin: 15px

.control-links
  float: right
  // a
  //   border-bottom: none

.panel-heading .panel-title
  display: inline-block


//
//  Buttons
// ===============
.btn
  background-color: transparent
  border-radius: 4px

.btn-yellow
  border: 1px solid $yellow-color
  color: #fff
  &:hover
    color: $yellow-color

.btn-blue
  border: 1px solid $blue-color
  color: $blue-color
  &:hover
    color: #fff
    background-color: $blue-color


//
//  Header
// ==============
.site-header
  background-color: #0069a6
  .logowrapper
    margin-top: 15px

  .search_form
    margin-top: 45px
    width: 100%
    .has-feedback
      width: 100%
      .form-control
        width: 100%
    // .btn-search
    //   background-color: #fff

  .nav .open>a, .nav .open>a:hover, .nav .open>a:focus
    background-color: rgba(0, 0, 0, 0)

// Main menu
.site-header .navbar-nav > li > a
  color: #fff
  text-shadow: none
  font-size: 18px

.site-header .navbar-nav > li > a:hover,
.site-header .navbar-nav > li > a:focus
  background-color: rgba(0, 0, 0, 0)
  color: #ccc

.site-header .navbar-nav > .active > a,
.site-header .navbar-nav > .active > a:hover,
.site-header .navbar-nav > .active > a:focus
  background-color: rgba(0, 0, 0, 0)
  color: #ffe20a

// .site-header .navbar-nav > .disabled > a, .site-header .navbar-nav > .disabled > a:hover, .site-header .navbar-nav > .disabled > a:focus
//     background-color: rgba(0, 0, 0, 0)
//     color: #CCCCCC

// .site-header .navbar-toggle
//     border-color: #DDDDDD

// .site-header .navbar-toggle:hover, .site-header .navbar-toggle:focus
//     background-color: #DDDDDD

// .site-header .navbar-toggle .icon-bar
//     background-color: #888888

// .site-header .navbar-collapse, .site-header .navbar-form
//     border-color: #E7E7E7

// .site-header .navbar-nav > .open > a, .site-header .navbar-nav > .open > a:hover, .site-header .navbar-nav > .open > a:focus
//     background-color: #E7E7E7
//     color: #555555

// @media screen and (min-width: 768px)
// @media (max-width: 767px)
// .site-header .navbar-nav .open .dropdown-menu > li > a
//     color: #777777

// .site-header .navbar-nav .open .dropdown-menu > li > a:hover, .site-header .navbar-nav .open .dropdown-menu > li > a:focus
//     background-color: rgba(0, 0, 0, 0)
//     color: $black-color

// .site-header .navbar-nav .open .dropdown-menu > .active > a, .site-header .navbar-nav .open .dropdown-menu > .active > a:hover, .site-header .navbar-nav .open .dropdown-menu > .active > a:focus
//     background-color: #E7E7E7
//     color: #555555

// .site-header .navbar-nav .open .dropdown-menu > .disabled > a, .site-header .navbar-nav .open .dropdown-menu > .disabled > a:hover, .site-header .navbar-nav .open .dropdown-menu > .disabled > a:focus
//     background-color: rgba(0, 0, 0, 0)
//     color: #CCCCCC


// .site-header .navbar-link
//     color: #777777

// .site-header .navbar-link:hover
//     color: $black-color


//
// Paginator
// ================
.pagination_wrapper
  ul
    list-style: none outside none
    margin: 0
    li
      display: inline
      a
        display: inline-block
        &:hover, &:focus
          background-color: #EEEEEE

.my_pager
  padding-left: 0

.my_pager li > a
  border-radius: 15px
  padding: 5px 14px

.my_pager .disabled > a, .my_pager .disabled > a:hover, .my_pager .disabled > a:focus, .my_pagination > .disabled > a, .my_pagination > .disabled > a:hover, .my_pagination > .disabled > a:focus
  background-color: #FFFFFF
  color: #999999
  cursor: not-allowed

.my_pagination
  padding-left: 14px

.my_pagination > li > a
  border-radius: 50%
  line-height: 1.42857
  padding: 6px 12px

.my_pagination > .active > a, .my_pagination > .active > a:hover, .my_pagination > .active > a:focus
  background-color: $light-blue-color
  color: $black-color
  cursor: default
