//= require bootstrap
//= require bootstrap-theme
//= require owl.carousel
//= require_self
//= require_tree .

@import "lib"

@font-face
  font-family: 'Glyphicons Halflings'
  src: font-url('glyphicons-halflings-regular.eot')
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), font-url('glyphicons-halflings-regular.woff') format('woff'), font-url('glyphicons-halflings-regular.ttf') format('truetype'), font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')

html, body
  height: 100%

a
  border-bottom: 1px solid rgba($blue-color, .4)
  // color: $blue-color
  text-decoration: none
  cursor: pointer

  &:hover
    text-decoration: none
    // border-bottom-color: rgba(#d22e34, .3)
    // color: #d22e34

  &:focus
    text-decoration: none
    outline: none

  td &,
  th &,
  .nav &,
  &.badge
    border-bottom: none

  th &
    white-space: nowrap

img
  vertical-align: middle
  max-width: 100%

\:focus
  outline: none
  text-decoration: none

//
// Layout.
//

.page-wrapper
  position: relative
  min-height: 110%

.page-container
  padding-bottom: 40px

  &:after
    display: table
    clear: both
    height: 100px
    content: " "
    @media screen and (max-width: 768px)
      height: 300px

.page-footer
  width: 100%
  background: #FFFF33
  margin-bottom: 0
  border: 0
  position: absolute
  bottom: 0
  left: 0

  .nav > li > a
    color: #333333
  .nav > li > a:hover, .nav > li > a:focus
    background-color: transparent
    color: $blue-color


// .page-container-full
//   position: relative
//   margin: 0
//   padding: 0
//   width: 100%
//   height: 100%


//
// Uploaders.
// ================================
.image-uploader
  @extend %filepicker-decorator

  margin-bottom: 1em
  background: #eee center center no-repeat
  text-align: center

  img
    max-width: 100%
    z-index: -1

.image-uploader
  min-height: 100px
  background-image: image-url("content/placeholder-image.png")

.cover-uploader
  min-height: 300px
  background-image: image-url("content/placeholder-cover.png")

.document-uploader
  @extend %filepicker-decorator

  min-width: 100px
  min-height: 100px
  margin-bottom: 1em
  background: #eee image-url("content/placeholder-document.png") center center no-repeat

//
// Attachments.
//=================================

.attachment
  overflow: hidden

.attachment-info
  float: left
  width: 200px
  margin-left: 10px
  padding: 5px 0 0

.attachment-meta
  line-height: 16px
  font-size: 12px
  color: #999

.attachment-icon
  display: block
  float: left
  width: 40px
  height: 48px
  background: image-url("content/attachment-icons.png") no-repeat

.attachment-icon-archive
  background-position: -38px 0

.attachment-icon-document
  background-position: -78px 0

.attachment-icon-image
  background-position: -118px 0

.attachment-icon-video
  background-position: -158px 0

.attachments-form
  .add-attachment
    margin-top: 20px

  .attachment
    padding: 10px 0 20px
    border-top: 1px solid #eee

    &:first-child
      border-top: none

  .document-uploader,
  .image-uploader
    margin-top: 35px

  .document-uploader
    width: 140px


//
//  main menu dropdown with categories
//=======================================
@media screen and (min-width: 768px)
  ul.nav li.dropdown-on-hover:hover > ul.dropdown-menu,
  ul.dropdown-menu.always-opened
    display: block

  .main_categories
    min-height: 300px
    padding: 10px 0
    // margin-top: -40px
    top: 41px
    border-radius: 8px !important
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.176)
    li a:hover, li a:focus
      background-color: transparent
      background-image: none
      color: $blue-color
    .dropdown-menu
      min-height: 300px
      margin: 0
      padding: 10px 0
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.176)

  //dropdown submenu for navigation
  // .dropdown-submenu
  //   position:relative

  .dropdown-submenu > .dropdown-menu
    top: -1px
    left: 97%
    border-radius: 0 8px 8px 0
    // margin-top: -6px
    // margin-left: -1px

  .dropdown-submenu:hover > .dropdown-menu
    display: block


  // .dropdown-submenu>a:after
  //   display: block
  //   content: " "
  //   float: right
  //   width: 0
  //   height: 0
  //   border-color: transparent
  //   border-style: solid
  //   border-width: 5px 0 5px 5px
  //   border-left-color: #cccccc
  //   margin-top: 5px
  //   margin-right: -10px

  // .dropdown-submenu:hover>a:after
  //   border-left-color: #ffffff

  // .dropdown-submenu.pull-left
  //   float: none

  // .dropdown-submenu.pull-left>.dropdown-menu
  //   left: -100%
  //   margin-left: 10px
  //   -webkit-border-radius: 6px 0 6px 6px
  //   -moz-border-radius: 6px 0 6px 6px
  //   border-radius: 6px 0 6px 6px

//
//  Product Carousel
// =======================
.owl-theme .owl-controls .owl-buttons div
  position: absolute
  color: #FFF
  display: inline-block
  zoom: 1
  *display: inline /*IE7 life-saver */
  padding: 12px 6px
  font-size: 18px
  width: 32px
  height: 48px
  border-radius: 6px
  background: $blue-color
  filter: Alpha(Opacity=50) /*IE7 fix*/
  opacity: 0.5
  top: 50%
  margin-top: -28px

  &.disabled
    display: none

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover
  filter: Alpha(Opacity=100) /*IE7 fix*/
  opacity: 1
  text-decoration: none

.owl-theme .owl-controls .owl-buttons .owl-prev
  left: 0px

.owl-theme .owl-controls .owl-buttons .owl-next
  right: 0px

.product_thumb
  border: 0
  padding: 8px
  box-shadow: none
  margin-bottom: 0
  img
    width: 100%
  .caption
    padding-left: 0
    padding-right: 0
    p
      margin-bottom: 0


//
//  misc
//
.rouble
  display: inline-block
  position: relative

.rouble:before
  display: block
  content: "–"
  position: absolute
  top: 0.07em


//
// global search
//
.search_form
  // input.ng-invalid.ng-dirty
  //   border-color: #a94442
  //   box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
