%filepicker-decorator
  position: relative
  overflow: hidden
  max-width: 100%

  &.dragover
    outline: 4px dashed #ccc
    outline-offset: 4px
    background: #eee

  .close
    position: absolute
    top: 10px
    right: 10px

  input
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: 0
    z-index: 0
    cursor: pointer
    width: 100%

$black-color: #333
$blue-color: #428BCA
$dark-blue-color: #0069a6
$light-blue-color: #e5f0f6
$gray-blue-color: #ddeeee
$yellow-color: #ffde05
$blue-border-color: #c1dbea
$gray-color: #ccc
$light-gray-color: #f3f8fb
$pills-gray-color: #eee
$white-color: #fff

// media query for retina display
@mixin mq_retina
  @media only screen
    @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2)
      @content
