.row.search_services(ng-show="show_services")
  .col-md-3
    .panel.panel-info
      .panel-body
        %form(role="form")
          = render 'templates/catalog/text_filter'
          = render 'templates/catalog/price_filter'

          .form-group
            %label
              Категории
            %ul.list-unstyled
              %li(ng-repeat="cat in service_categories")
                .checkbox
                  %label
                    %input(type="checkbox"
                      ng-click="FilterCatalog.toggleSubcat(cat._id.$oid)"
                      ng-model="checked_cats[cat._id.$oid]")
                    {{cat.title}}
                    %span.text-muted {{service_cats_counter[cat._id.$oid]}}

  .col-md-9
    %h3 Услуги
    = render 'templates/catalog/sorting_btns2'
    = render 'templates/catalog/services_catalog'
