.ng-cloak
  %h1 Результаты поиска по запросу: {{query}}

  %ul.nav.nav-tabs.nav-justified
    %li(ng-class="{disabled: !found_products, active: show_products}")
      %a(ng-click="show_tab('products')") Товары
    %li(ng-class="{disabled: !found_services, active: show_services}")
      %a(ng-click="show_tab('services')") Услуги
    %li(ng-class="{disabled: !found_manufacturers, active: show_manufacturers}")
      %a(ng-click="show_tab('manufacturers')") Производители

  %span(ng-hide="loaded") loading

  .search-tab-content
    = render 'templates/search/products'
    = render 'templates/search/services'
    = render 'templates/search/manufacturers'

  .not_found(ng-show="loaded &&!(found_products && found_services && found_manufacturers)")
    По Вашему запросу ничего не найдено!
