.page-footer
  .container
    .shadow
    .row
      .col-md-3
        .copy
          © 2013&ndash;2014
          = t 'sitename'
      /   .contacts
      /     = render 'contacts'

      /   = render 'language_panel'

      / .col-md-3
      /   %ul.links
      /     %li= link_to t('nav.yakutia'), yakutia_path
      /     %li= link_to t('nav.catalog'), catalog_path
      /     %li= link_to t('nav.map'),     map_root_path

      / .col-md-3
      /   %ul.links
      /     %li= link_to t('nav.video'),   video_path
      /     = render 'articles/roots'

      / .col-md-3
      /   %ul.links
      /     %li= link_to t('nav.announcements'), announcements_path
      /     %li= link_to t('nav.posts'),         posts_path
      /     %li= link_to t('nav.contacts'),      contacts_path
