%ul.nav.navbar-nav.ng-cloak(nav-menu)
  %li.dropdown.dropdown-on-hover(ng-class="getClass('CategoriesCtrl', 'CategoryCtrl', 'ProductCtrl')")
    %a.dropdown-toggle(href='#/categories' data-toggle="dropdown")
      Каталог товаров
      %b.caret
    %ul.dropdown-menu(categories-dropdown ng-class="alwaysOpen()")

  %li(ng-class="getClass('StoresCtrl', 'StoreCtrl')")
    %a(href='#/stores')
      Магазины
  %li(ng-class="getClass('ServiceCategoriesCtrl', 'ServiceCategoryCtrl', 'ServiceCtrl')")
    %a(href='#/service_categories')
      Услуги

  = render 'articles/roots'

